<!DOCTYPE html>
<html>
<head>
<title>文档</title>
</head>
<body>
<table>
    <tr>
        <th>名称</th>
        <th>方法</th>
        <th>路径</th>
        <th>输出</th>
        <th>位置</th>
    </tr>
    {{range .}}
    <tr> 
        <td>标题1</td> 
        <td>标题1</td> 
        <td>标题1</td> 
        <td>标题1</td> 
        <td>标题1</td> 
    </tr>
    {{end}}
</table>
</body>
</html>
